@import 'null.scss'; 
* {
    transition: 0.5s;
}

body {
    font-family: 'Poppins', sans-serif;
    color: #fff;
    font-size: 19.2px;
    display: flex;
    background-color: #000;
}

.wrapper {
    background: url(../../img/bg.jpg);
    background-position: center;
    background-size: auto;
    background-repeat: no-repeat;
    width: 640px;
    height: 790px;
    padding-top: 150px;

}

.opacity-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 110px;
    h1 {
        font-size: 32px;
        font-weight: 700;
    }
    img {
        margin-right: 20px;
        width: 80px;
        align-self: center;
        vertical-align: center;
    }
}

.opacity-div {
    background-color: rgba(0,0,0,0.7);
    width: 640px;
    height: 110px;
}

.container {
    background-color: #000;
    color: #b9b9b9;
    width: 60vw;
    justify-content: center;
    margin: 0 auto;
    padding: 100px 50px;
    p {
        width: 96%;
        font-size: 19.2px;
        font-weight: 500;
    }
    .container-sign {
        margin-top: 2px;
    }
    .container-know {
        margin-top: 35px;
        margin-bottom: 90px;
    }
}

.input {
    display: flex;
    flex-flow: column wrap;
    width: 40%;
    font-size: 0.7rem;
    text-transform: uppercase;
    opacity: 50%;
}
input {
    background-color: rgb(2, 2, 2);
    border: 1px solid rgb(77, 77, 77);
    border-radius: 3px;
    margin-bottom: 13px;
    color: #fff;
}   
.form-title {
    margin-bottom: 13px;
}

.form {
    background-color: rgb(6, 6, 6);
    box-shadow: 0 10px 20px -2px rgb(22,22,22);
    display: flex;
    flex-flow: row wrap;
    gap: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.last-block {
    margin-top: 20px;
}

.btn {
    background: none;
    padding: 10px 40px;
    color: #e6007e;
    border: 2px solid #e6007e;
    font-weight: 700;
    font-size: 20px;
    border-radius: 5px;
}
.btn:hover {
    background-color: #e6007e;
    color: #000;
    box-shadow: 0px 4px 39px 1px rgba(230,0,126,0.7);
}

.container .have-account {
    margin-top: 20px;
    font-size: 15px;
    font-weight: 400;
}
.container .log-in {
    color: #e6007e;
    font-weight: 700;
    font-size: 16px;
}
.container .log-in:hover {
    color: rgba(157, 0, 87, 0.7);
}
